<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/output.css">
</head>

<body class="container mx-auto max-w-5xl bg-primary-900 text-primary-100 font-montserrat h-screen">
  <section class="mx-4 relative">

    <header class="pt-5 flex items-center">
      <div class="max-w-32">
        <a href="/" class="cursor-pointer"><img src="images/access-only-logo.png" alt="logo"></a>
      </div>
    </header>

    <main class="min-h-[calc(100vh-100px)] flex items-center">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
    </main>

</body>

</html>