<h1>Hello world</h1>

<ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/sign-up">Sign-up</a></li>
  <li><a href="/join">Join</a></li>
  <li><a href="/create">Create</a></li>
  <li><a href="/delete">Delete</a></li>
</ul>